.TodoList-ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 1rem;
    width: 100%;
    font-size: 1.25rem;
}
.TodoList-not-found {
    padding: 2rem;
    width: 100%;
    text-align: center;
    /* background-color: #abadb3; */
    font-size: 2rem;
    font-weight: 600;
    color: rgb(44, 53, 70);
}
.Todo-li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 1rem;
    width: 100%;
    border-radius: 1rem;
    margin-top: 1rem;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.3);
    cursor: pointer;
    outline: none;
    box-sizing: border-box;
    transition: background-color 0.3s ease-in;
    background-color: #f0efeed2;
    letter-spacing: 0.5px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}
.Todo-icon-box{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
.Todo-icon-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Todo-icon-box span{
    margin-left:1.5rem;
    transition: all  0.4s ease;
    border: 1px solid #222;
    color: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    padding: 0.5rem;
    border-radius: 50%;
}
.Todo-icon-box-trash:hover{
    color: rgb(235, 47, 47);
    border-color: rgb(235, 47, 47);
}
.Todo-icon-box-done:hover{
    color: rgb(14, 168, 9);
    border-color: rgb(14, 168, 9);
}
@media(hover:hover){
    .Todo-li:hover{
        background-color: #f6f6f6;
    }
}

/* @media not all and (pointer: coarse) {
    .Todo-icon-box-trash:hover {
        color: #222222;
        border-color: #222222;
    }
    .Todo-icon-box-done:hover {
        color: #222222;
        border-color: #222222;
    }
} */