.Header {
    display: flex;
    width: 100%;
    padding: 1rem 10%;
    justify-content: space-between;
    align-items: center;
    background: rgb(39, 46, 61);
    background: rgb(44, 53, 70);
    color: #fff;
}
.Header-ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
}
.Header-li{
    list-style: none;
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1.5rem;
}
.Header-link{
    cursor: pointer;
}
.Header-link::after{
    display: block;
    content: '';
    position: absolute;
    bottom: -0.5rem;
    left: 0;
    width: 100%;
    height: 0.25rem;
    transform: scale(0);
    transform-origin: left center;
    transition: transform 0.25s ease-in-out;
    background: #fff;
    z-index: 2;
}
.Header-link:hover::after{
    display: block;
    content: '';
    transform:scale(1);
}
.Logo {
    font-family: 'Rancho', cursive;
    font-size: 2rem;
}
@media (hover: none) {
    .Header-link:after {
        content: '';
        display: none;
    }
}


















 /* position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    background-color: rgb(71, 42, 126);
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    right: 2rem;
    bottom: 2rem;
    padding: 1rem;
    display: flex;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(238,123,123,005); */