@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&family=Rancho&display=swap');
* , *::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Nunito','Segoe UI', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #FFA99F; */

  /* background: linear-gradient(-225deg, rgb(255, 228, 166) 0%, rgba(255, 169, 159, 0.801) 48%, rgba(255, 113, 153, 0.726) 100%); */
  background-color: rgb(55, 66, 87 ,0.35);
}
#root{
  min-height: 100%;
}
a{
  text-decoration: none;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Nunito','Segoe UI', 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* html canvas{
  display: none;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0px 1000px white inset;

}
@media screen and (max-width : 767.98px) {
  html {
    font-size: 14px;
  }
  .App {
    width: 80%;
  }
}
@media screen and (max-width : 575.98px) {
  html {
    font-size: 12px;
  }
  .App {
    width: 90%;
  }
}

